.ant-modal {
    min-height: fit-content;
    .ant-modal-header {
        border-bottom: 1px solid #d3d5d7;
        padding-bottom: 12px;
    }
    .ant-modal-content {
        height: auto;
        max-height: 70vh;
        overflow-y: auto;
    }
    .ant-modal-body {
        height: auto;
    }
    .ant-modal-footer {
        text-align: center;
        margin-top: 24px;
    }
}