@import 'primeicons/primeicons.css';
@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import "/node_modules/primeflex/primeflex.css";

#root {
  font-size: 14px;
  font-weight: 400;
  color: #0F1824;
}