//noinspection ALL,CssUnusedSymbol
.chrome-tab-wrapper {
  width: 100%;

  //noinspection ALL,CssUnusedSymbol
  .contents {
    //noinspection ALL,CssUnusedSymbol
    .top-content {
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      border-bottom: 1px solid #d3d5d7;
      //noinspection ALL,CssUnusedSymbol
      .list-actions {
        display: flex;
        height: 36px;
        align-items: center;
        //noinspection ALL,CssUnusedSymbol
        .btn {
          cursor: pointer;
          margin-right: 8px;
          padding: 2px;
          &:hover {
            background-color: #08f;
            border-radius: 4px;
            color: #fff;
          }

          //noinspection ALL,CssUnusedSymbol
          &.delete {
            color: #ff4d4d;
            &:hover {
              background-color: #ff4d4d;
              color: #fff;
            }
          }
        }
      }

      //noinspection ALL,CssUnusedSymbol
      .count-text {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 13px;
      }
    }
  }
}
